---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import ProjectsContent from "../components/ProjectsContent.astro";
---

<Layout>
  <h2 class="text-3xl font-bold">Coding page</h2>
  <p
    class="underline decoration-1 decoration-black hover:decoration-2 text-black mt-2 mb-10"
  >
    <a href="/">(&lt; back to home)</a>
  </p>
  <p class="text-xl italic">
    Some of the projects I worked on. They span university coursework,
    internship work, hackathons, and personal projects.
  </p>

  <p class="text-xl italic">
    I'm particularly drawn to <strong>backend</strong> and <strong>distributed systems</strong>, <strong>software
    architecture</strong>, and working across the stack with <strong>.NET/C#</strong> and <strong>Angular/TypeScript</strong>.
  </p>

  <p class="text-xl italic mb-10">
    I’m always looking to learn new things and improve my skills.
  </p>
  <ProjectsContent />
  <p class="text-xl mt-15 italic">
    More on my <a
      href="https://github.com/vndrija"
      target="_blank"
      rel="noopener noreferrer"
      class="underline decoration-1 decoration-black hover:decoration-2 text-black"
      >github</a>
  </p>
</Layout>
