---
import { Icon } from "astro-icon/components";
const { name } = Astro.props;
---

<div>
  <a href={`/${name}/`} class="flex flex-row gap-2 items-center">
    <Icon name="glyphs-poly:folder-open" class="w-8 h-8"/>
    <p>{name}</p>
  </a>
</>
