<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/MeOnMountainRtanj.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrija Matijasevic</title>
	</head>
	<body>
		<div class="mt-5 p-5">
			<div class="text-left">
				<slot />
			</div>
		</div>
	</body>
</html>

